@font-face {
  font-family: "inter";
  src: url("/assets/fonts/Inter/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "inter";
  src: url("/assets/fonts/Inter/Inter-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "inter";
  src: url("/assets/fonts/Inter/Inter-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "roobert";
  src: url("/assets/fonts/roobert-regular-webfont.woff") format("truetype");
  font-weight: 400;
}
